.FileFormBlock {
    height: 500px;
    border: whitesmoke 1px solid;
    display: table-cell;
    text-align: center;
}

#FileForm {
    text-align: center;
    height: 350px;
}

#FileFormDescription {
    border-bottom: whitesmoke 1px solid;
}

#FileFormInputLabel {
    width: 180px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: grid;
    font: 14px/50px Tahoma;
    transition: all 0.18s ease-in-out;
    border: 1px solid white;
    color: whitesmoke;
    background: #616afb;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#FileFormInputLabel:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

#FileFormInputLabel:hover {
    background-color: #59be6e;
}

#FileFormInputLabel:active {
    background-color: #2E703A;
}

#FileFormInputSubmit {
    display: block;
    height: 40px;
    width: 140px;
    transition: all 0.18s ease-in-out;
    background: #616afb;
    border-radius: 4px;
    text-align: center;
    border: 1px solid white;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#FileFormInputSubmit:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

#FileFormInputSubmit:hover {
    background-color: #59be6e;
}

#FileFormInputSubmit:active {
    background-color: #2E703A;
}